@import '~reset-css';
@import '~antd/dist/antd.css';
@import './layouts/chat';

* {
  outline: none;
}

html, body, #root, .wrap {
  height: 100%;
}

body {
    font-size: 14px;
    font-family: 'Noto Sans SC', sans-serif;
}  

a {
  color: inherit;
  text-decoration: none;
}

.ant-btn-circle {
  border: none;
  box-shadow: none;
  color: #202020 !important;
  opacity: 0.5;
  transition: opacity 0.15s ease-in-out ;

  &:hover {
      opacity: 1;
  }

  &:after {
      display: none;
  }

}